* {
  box-sizing: border-box;
  /*height: 100%;*/
  margin: 0;
  padding: 0;
}

.main {
  background-color: lightgrey;
  font-family: 'Bitter', serif;
  font-family: 'Mukta Malar', sans-serif;
  height: 100%
}

.headers {
  background-color: #2b2b2b;
  color: white;
  width: 100%;
}

/*admin part of header*/

.admin-and-icons {
  float: right;
  margin: 20px 20px 2% 0;
  display: inline-flex;
  justify-content: space-between;
  width: 172px;
}

.fa-github-square {
  font-size: 1.5em;
}

.admin {
  margin-top: 4px;
}

.fa-sort-down {
  font-size: 1.3em;
  color: #00bfff;
}

.bottom-of-header-bar {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

/*header links*/

.left-header-links {
  display: inline-flex;
  justify-content: space-between;
  width: 45%;
  font-size: 1.5em;
  font-weight: 300;
  margin: 30px 0 0 20px;
}

.link-icon-color {
  color: #00bfff;
}

.link-header:hover {
  text-shadow:
                .5px .5px #00bfff,
                .9px .9px #00bfff,
                1.5px 1.5px #00bfff;
        -webkit-transform: translateY(-.5px);
        transform: translateY(-.5px);
}

/*website name*/

.purr {
  font-size: 3.7em;
  margin-right: 20px;
  margin-bottom: 20px;
  font-family: 'Bitter';
}

.fa-github-alt {
  font-size: .9em;
}

/*shares second header*/

.second-header {
  font-size: 3em;
  padding: 38px 0 28px 24px;
  color: #2b2b2b;
}

/*cards portion*/

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 10px;
  margin: 0 10px 10px 10px;
  /*font-family: 'Bitter';*/
}

.bio {
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: -5px 3px 26px -9px rgba(112,108,112,1);
  -moz-box-shadow: -5px 3px 26px -9px rgba(112,108,112,1);
  box-shadow: -5px 3px 26px -9px rgba(112,108,112,1);
}

.card-header {
  background-size: cover;                      
  background-repeat: no-repeat;
  background-position: center center; 
  height: 150px;
  color: white;
}

.cat-image-one {
  background-image: 
  url(images/business-cat-one.jpg);
}

.cat-image-two {
  background-image: 
  url(images/business-cat-two.jpg);
}

.cat-image-three {
  background-image: 
  url(images/business-cat-three.png);
}

.cat-image-four {
  background-image: 
  url(images/business-cat-four.jpg);
}

.cat-image-five {
  background-image: 
  url(images/business-cat-five.jpg);
}

.cat-image-six {
  background-image: 
  url(images/business-cat-six.jpg);
}

.cat-image-seven {
  background-image: 
  url(images/business-cat-seven.jpg);
}

.cat-image-eight {
  background-image: 
  url(images/business-cat-eight.jpg);
}

.fa-share {
  font-size: 2.9em;
  padding: 10px 0 0 13px;
}

.fa-share:hover {
  opacity: .25;
}

.view-text {
  float: right;
  padding: 18px 18px 0 0;
  display: flex;
  flex-direction: column;
  line-height: .9;
  font-weight: 300;
  margin-left: 5px;
}

.views {
  font-size: .8em;
  letter-spacing: 1px;
  padding-left: 3px;
}

.number-views {
  font-size: 3em;
}

/*info portion of card*/

.card-info {
  padding: 14px 0 20px 20px;
  background: #F9F9F9;
  width: 100%;
  color: #2b2b2b;
}

.name-here {
  font-size: 1.1em;
}

.date {
  font-size: .95em;
  color: grey;
}

.website {
  background-color: lightgrey;
  line-height: 38px;
  margin: 20px 20px 20px 0;
  padding-left: .5em;
  font-size: .87em;
}

.website:hover {
  background-color: #e6e6e6;
  color: #2d5986;
}

.playlist {
  font-size: .8em;
  letter-spacing: .5px;
}

.playlist-name {
  font-size: 1.1em;
}

.attachments {
  font-size: .8em;
  line-height: 43px;
}


.attach-number {
  font-size: 2.7em;
  color: #00bfff;
  padding-bottom: 5px;
  padding-left: 2.5px;
  line-height: 20px;
}

/*media queries*/

@media screen and (min-width: 1115px) {

}


