* {
  box-sizing: border-box;
  /*height: 100%;*/
  margin: 0;
  padding: 0;
}

.main {
  background-color: lightgrey;
  font-family: 'Mukta Malar', sans-serif;
  font-family: 'Bitter', serif;
}

.headers {
  display: inline-flex;
  /*flex-direction: */
}