* {
  box-sizing: border-box;
  /*height: 100%;*/
  margin: 0;
  padding: 0;
}

.main {
  background-color: lightgrey;
  font-family: 'Bitter', serif;
  font-family: 'Mukta Malar', sans-serif;
  height: 100%
}

.headers {
  background-color: #2b2b2b;
  color: white;
  width: 100%;
}

.bottom-of-header-bar {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.admin {
  float: right;
  margin-top: 20px;
  margin: 20px 20px 2% 0;
}

.left-header-links {
  display: inline-flex;
  justify-content: space-between;
  width: 45%;
  font-size: 1.5em;
  margin: 30px 0 0 20px;
  border: 3px dotted green;
}

.videos-header {
  /*margin-right: 45%;*/
}

.to-win {
  font-size: 3.7em;
  margin-right: 20px;
  margin-bottom: 20px;
  font-family: 'Bitter';
}

.second-header {
  font-size: 3em;
  padding: 40px 0 5px 24px;
  color: #2b2b2b;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
  margin: 25px;
  /*font-family: 'Bitter';*/
}

.bio {
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: -5px 3px 26px -9px rgba(112,108,112,1);
  -moz-box-shadow: -5px 3px 26px -9px rgba(112,108,112,1);
  box-shadow: -5px 3px 26px -9px rgba(112,108,112,1);
}

.card-header {
  background-size: cover;                      
  background-repeat: no-repeat;
  background-position: center center; 
  height: 150px;
  color: white;
}

.cat-image-one {
  background: 
  linear-gradient(rgba(23,23,23,0) 0%, 
                  rgba(23,23,23,0.51) 0%, 
                  rgba(23,23,23,0.51) 100%),
  url(images/business-cat-one.jpg);
}

.cat-image-two {
  background: 
  linear-gradient(rgba(23,23,23,0) 0%, 
                  rgba(23,23,23,0.51) 0%, 
                  rgba(23,23,23,0.51) 100%),
   url(images/business-cat-two.jpg);
}

.cat-image-three {
  background: 
  linear-gradient(rgba(23,23,23,0) 0%, 
                  rgba(23,23,23,0.51) 0%, 
                  rgba(23,23,23,0.51) 100%),
  url(images/business-cat-three.png);
}

.cat-image-four {
  background: 
  linear-gradient(rgba(23,23,23,0) 0%, 
                  rgba(23,23,23,0.51) 0%, 
                  rgba(23,23,23,0.51) 100%),
  url(images/business-cat-four.jpg);
}

.cat-image-five {
  background: 
  linear-gradient(rgba(23,23,23,0) 0%, 
                  rgba(23,23,23,0.51) 0%, 
                  rgba(23,23,23,0.51) 100%),
  url(images/business-cat-five.jpg);
}

.cat-image-six {
  background: 
  linear-gradient(rgba(23,23,23,0) 0%, 
                  rgba(23,23,23,0.51) 0%, 
                  rgba(23,23,23,0.51) 100%),
  url(images/business-cat-six.jpg);
}

.cat-image-seven {
  background: 
  linear-gradient(rgba(23,23,23,0) 0%, 
                  rgba(23,23,23,0.51) 0%, 
                  rgba(23,23,23,0.51) 100%),
  url(images/business-cat-seven.jpg);
}

.cat-image-eight {
  background: 
  linear-gradient(rgba(23,23,23,0) 0%, 
                  rgba(23,23,23,0.51) 0%, 
                  rgba(23,23,23,0.51) 100%),
  url(images/business-cat-eight.jpg);
}

.view-text {
  float: right;
}

.card-info {
  line-height: 2em;
  padding: 20px 0 20px 20px;
  background: #F9F9F9;
  width: 100%;
  color: #2b2b2b;
}

.website {
  background-color: lightgrey;
  margin-right: 20px;
  padding-left: .5em;
}

.name-here {

}

/*.two-box
.three-box
.four-box
.five-box
.six-box
.seven-box
.eight-box


